
.ndk-calendar-container {
    width: fit-content;
    padding: 5px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: var(--ndk-popup, 0 8px 10px rgba(0, 0, 0, 0.12), 0 4px 16px rgba(0, 0, 0, 0.12));
    border: 1px solid rgba(0,0,0,0);
    border-radius: 8px;
    font-size: 14px;
}

.ndk-calendar {
    border-radius: 8px;
    max-width: 100px !important;
    width: 100px !important;
}

.ndk-dt-header-ui {
    padding: 2px;
    border-radius: 8px;
}

.ndk-dt-row-ui {
    background-color: none;
}

.ndk-dt-row-pair-ui {
}

.ndk-dt-header-s-ui {
    border-top-left-radius: 8px;
}

.ndk-dt-header-e-ui {
    border-top-right-radius: 8px;
}

.ndk-dt-container-ui {
    padding: 2px;
}

.ndk-dt-item-ui {
    display: flex;
    border: none;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 8px;
    min-width: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

    .ndk-dt-item-ui:hover {
        cursor: pointer;
        background-color: #e2e1e1;
        border-color: #e2e1e1
    }

.ndk-dt-item-ui-disabled {
    cursor: not-allowed
}

    .ndk-dt-item-ui-disabled:hover {
        cursor: not-allowed;
        background-color: rgba(255,255,255,0);
        border-color: rgba(255,255,255,0)
    }


.ndk-calendar-controlers {
    display: flex;
    justify-content: space-between;
}

.ndk-dt-item-selected-ui {
    background-color: #ada7fc !important;
    color: #fff;
}

.ndk-dt-header-m-ui {
    padding: 2px;
}
