@inherits NDKBaseComponent
<div class="ndk-header">

    <div class="ndk-header-left-content">
        @LeftContent;
    </div>

    <div class="ndk-header-middle-content">
        @MiddleContent;
    </div>

    <div class="ndk-header-right-content">
        @RightContent;
    </div>
</div>

