@using NDK.UI.Components.Base
@using NDK.UI.Models
@typeparam T where T : NDKFinderOutput
@inherits BaseSelect<T>

<div class="ndk-single-select-container">

    <div class="ndk-single-select-selected-items">
        @if(Value is not null)
        {
            <span class="ndk-single-select-selected-item">
                @GetText(Value);

                <span class="ndk-circle-badge">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" /></svg>
                </span>
            </span>
        }
       
    </div>
    <div class="ndk-single-select-input">
        <NDKInputText ValueChanged="OnFilter"></NDKInputText>
    </div>

    @if (_visibleSource?.Count > 0)
    {
        <div class="ndk-single-select-popup">

            @foreach(var item in _visibleSource)
            {
                <span class="ndk-single-select-popup-item" @onclick="@(() => OnSelect(item))">
                    @GetText(item);
                </span>
            }

        </div>
    }
</div>




