
.ndk-calendar-container{
    width:fit-content;
    padding: 10px;
}

.ndk-calendar {
    border-radius: 8px;
}

.ndk-dt-header-ui {
    padding: 10px;
    border-radius: 8px;
}

.ndk-dt-row-ui{
    background-color: none;
}

.ndk-dt-row-pair-ui{

}

.ndk-dt-header-s-ui{
    border-top-left-radius: 8px;
}

.ndk-dt-header-e-ui {
    border-top-right-radius: 8px;
}

.ndk-dt-item-ui{
    border:none;
}