@import 'variables.css';
/*NDK BUTTON*/
.ndk-button {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    -webkit-appearance: none;
    border: var(--border);
    border-radius: var(--border-radius);
    font-weight: bold;
}

    .ndk-button:hover {
        color: var(--secondary-text-color);
        opacity: 75%;
    }

.ndk-button-secondary {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

.ndk-button-disabled {
    background-color: var(--disabled-bg-color);
    color: var(--secondary-text-color);
}

/*NDK CALENDAR*/
.ndk-calendar-container {
    padding: var(--p-4);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: var(--box-shadow);
    min-width: var(--calendar-width);
    min-height: var(--calendar-height);
    width: var(--calendar-width);
    max-width: var(--calendar-width);
    max-height: var(--calendar-height);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-theme-bg-color);
    font-size: 14px;
}






.ndk-dt-row-ui {
    width: 100%;
    text-align: center;
    background-color: none;
}

.ndk-dt-header-ui {
    background-color: none;
    align-items: center;
    justify-content: center;
}

.ndk-dt-row-pair-ui {
}

.ndk-dt-header-s-ui {
    border-top-left-radius: var(--border-radius);
}

.ndk-dt-header-e-ui {
    border-top-right-radius: var(--border-radius);
}




.ndk-calendar {
    width: calc(inherit - var(--p-8));
    height: calc(inherit - var(--p-8));
}

.ndk-calendar-control {
    color: var(--primary-text-color);
    -webkit-appearance: none;
    border: var(--border);
    border-radius: var(--border-radius);
    font-weight: bolder;
    padding: var(--p-4) var(--p-4);
}

    .ndk-calendar-control:hover {
        cursor: pointer;
        color: var(--primary-bg-color);
        background-color: var(--hover-bg-color);
    }

.ndk-dt-item-selected-ui {
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
}

.ndk-calendar-tool-container {
    position: relative;
    z-index: 100;
    padding: var(--p-4);
    min-width: var(--calendar-width);
    min-height: var(--calendar-height);
    width: var(--calendar-width);
    max-width: var(--calendar-width);
    max-height: var(--calendar-height);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-theme-bg-color);
    transition: max-height 0.3s;
    font-size: 14px;
}

.ndk-calendar-tool {
    border-radius: var(--border-radius);
    width: calc(var(--calendar-width) - var(--p-8));
    min-height: calc(var(--calendar-height)- var(--p-8));
}

    .ndk-calendar-tool .ndk-dt-item-ui {
        min-width: 60px;
        min-height: 60px;
        height: 60px;
    }


.transform--90 {
    transform: rotate(-90deg);
}

.ndk-monthpicker {
}

.ndk-yearpicker {
}



.ndk-dt-header-s-ui {
    border-top-left-radius: var(--border-radius);
}

.ndk-dt-header-e-ui {
    border-top-right-radius: var(--border-radius);
}



.ndk-dt-item-ui {
    border: none;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--p-4);
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    max-width: 60px;
    max-height: 60px;
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

    .ndk-dt-item-ui:hover {
        cursor: pointer;
        background-color: var(--hover-bg-color);
    }

.ndk-dt-item-ui-disabled {
    cursor: not-allowed
}

    .ndk-dt-item-ui-disabled:hover {
        cursor: not-allowed;
        background-color: var(--primary-theme-bg-color);
    }


.ndk-calendar-tool-controllers {
    display: flex;
    justify-content: space-between;
    padding: var(--p-10) 0;
    min-height: 50px;
}

.ndk-dt-item-selected-ui {
    background-color: #ada7fc !important;
    color: var(--secondary-text-color);
}

.ndk-calendar-table {
    width: 100%;
    height: stretch;
    text-align: center
}
/*
    General
*/
body {
    background-color: var(--primary-theme-bg-color);
}

.ndk-component * {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    color: var(--primary-text-color);
}

.w-100p {
    width: 100%
}

.w-90p {
    width: 90%
}

.w-80p {
    width: 80%;
}

.w-70p {
    width: 70%
}

.w-60p {
    width: 60%
}

.w-40p {
    width: 50%
}

.w-40p {
    width: 40%
}

.w-30p {
    width: 30%
}

.w-20p {
    width: 20%
}

.w-10p {
    width: 10%
}

.d-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hidden {
    display: none; /* Hide when not visible */
}

svg {
    fill: var(--primary-text-color);
}

.ndk-input-date-container {
    position: relative;
}

.ndk-calendar-popup {
    position: absolute;
}

.ndk-input-date-inputs {
    justify-content: left;
    align-items: center;
    border: 1px solid var(--primary-text-color);
    width: fit-content
}

ndk-input-date-inputs:focus {
    outline:solid; 
}

.ndk-input-date-inputs .ndk-button {
    background-color: var(--primary-theme-bg-color);
    border: 0;
}


    .ndk-input-date-inputs input {
        border: none;
        width: fit-content;
        margin: 0 8px 0 0;
    }

        .ndk-input-date-inputs input:focus {
            outline: none;
        }
