@import 'variables.css';
/*NDK BUTTON*/
.ndk-button {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    -webkit-appearance: none;
    border: var(--border);
    border-radius: var(--border-radius);
    font-weight: bold;
}

    .ndk-button:hover {
        color: var(--secondary-text-color);
        opacity: 75%;
    }

.ndk-button-secondary {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

.ndk-button-disabled {
    background-color: var(--disabled-bg-color);
    color: var(--secondary-text-color);
}

/*NDK CALENDAR*/
.ndk-calendar-container {
    width: fit-content;
    padding: var(--p-1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-theme-bg-color);
    font-size: 12px;
    min-width: 10vw;
    min-height: 10vw;
    max-width: 15vw;
    max-height: 15vw;
}


.ndk-dt-header-ui {
    padding: 2px;
    border-radius: var(--border-radius);
}

.ndk-dt-row-ui {
    background-color: none;
}

.ndk-dt-row-pair-ui {
}

.ndk-dt-header-s-ui {
    border-top-left-radius: var(--border-radius);
}

.ndk-dt-header-e-ui {
    border-top-right-radius: var(--border-radius);
}

.ndk-dt-container-ui {
    padding: 2px;
}

.match-calendar {
    min-width: 250px;
    min-height: 250px;
    max-width: 15vw;
    max-height: 15vw;
}

    .match-calendar .ndk-month-picker-container {
        min-width: 10vw;
        min-height: 10vw;
        max-width: 15vw;
        max-height: 15vw;
    }

    .match-calendar .ndk-year-picker-container {
        min-width: 10vw;
        min-height: 10vw;
        max-width: 15vw;
        max-height: 15vw;
    }

.ndk-dt-item-ui {
    display: flex;
    border: none;
    padding: var(--p-1);
    border: var(--border);
    border-radius: var(--border-radius);
    min-width:2vw;
    width:2vw;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    transition: color 0.3s;
    color: var(--primary-text-color);
}

    .ndk-dt-item-ui:hover {
        cursor: pointer;
        background-color: var(--hover-bg-color);
    }

.ndk-dt-item-ui-disabled {
    cursor: not-allowed
}

    .ndk-dt-item-ui-disabled:hover {
        cursor: not-allowed;
        background-color: var(--primary-theme-bg-color);
    }


.ndk-calendar-controllers {
    display: flex;
    justify-content: space-between;
    padding: var(--p-2) 0;
}

.ndk-calendar-control {
    color: var(--primary-text-color);
    -webkit-appearance: none;
    border: var(--border);
    border-radius: var(--border-radius);
    font-weight: bolder;
    padding: var(--p-1) var(--p-2);
}

    .ndk-calendar-control:hover {
        cursor: pointer;
        color: var(--primary-bg-color);
        background-color: var(--hover-bg-color);
    }

.ndk-dt-item-selected-ui {
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
}

.ndk-dt-header-m-ui {
    padding: var(--p-2) var(--p-1);
}

.ndk-calendar-tool {
    width: 100%;
    height: 100%;
}

.ndk-calendar {
    width: 100%;
    height: 100%;
}


/*NDK CALENDAR MONTH PICKER*/


.ndk-month-picker-container {
    padding: var(--p-1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: 12px;
    background-color: var(--primary-theme-bg-color);
}

.ndk-month {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

    .ndk-month .ndk-dt-item-ui {
        min-width: 2vw;
        width: 2vw;
    }

.ndk-year {
    width: 100%;
    height: 100%;
}



.ndk-dt-header-ui {
    padding: 2px;
    border-radius: var(--border-radius);
}

.ndk-dt-row-ui {
    background-color: none;
}

.ndk-dt-row-pair-ui {
}

.ndk-dt-header-s-ui {
    border-top-left-radius: var(--border-radius);
}

.ndk-dt-header-e-ui {
    border-top-right-radius: var(--border-radius);
}

.ndk-dt-container-ui {
    padding: var(--p-2) var(--p-1);
}

.ndk-dt-item-ui {
    display: flex;
    border: none;
    padding: var(--p-2);
    border: var(--border);
    border-radius: var(--border-radius);
    min-width:2vw;
    width:2vw;
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

    .ndk-dt-item-ui:hover {
        cursor: pointer;
        background-color: var(--hover-bg-color);
    }

.ndk-dt-item-ui-disabled {
    cursor: not-allowed
}

    .ndk-dt-item-ui-disabled:hover {
        cursor: not-allowed;
        background-color: var(--primary-theme-bg-color);
    }


.ndk-month-controllers {
    display: flex;
    justify-content: space-between;
    padding: var(--p-2) 0;
}

.ndk-dt-item-selected-ui {
    background-color: #ada7fc !important;
    color: var(--secondary-text-color);
}



/*NDK CALENDAR YEAR PICKER*/
.ndk-year-picker-container {
    width: fit-content;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: 12px;
    background-color: var(--primary-theme-bg-color);
}

.ndk-year-picker {
    display: flex;
    padding: var(--p-2);
    flex-direction: column;
}

.ndk-year-picker-header {
    display: flex;
    justify-content: space-between;
    padding: var(--p-2) 0;
}

.ndk-year-picker-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ndk-year-picker-item {
    display: flex;
    border: none;
    padding: var(--p-2);
    border: var(--border);
    border-radius: var(--border-radius);
    min-width: 2vw;
    width: 2vw;
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

    .ndk-year-picker-item:hover {
        cursor: pointer;
        background-color: var(--hover-bg-color);
    }

.ndk-year-picker-item-disabled {
    cursor: not-allowed
}

    .ndk-year-picker-item-disabled:hover {
        cursor: not-allowed;
        background-color: var(--primary-theme-bg-color);
    }

.ndk-year-picker-item-selected-ui {
    background-color: #ada7fc !important;
    color: var(--secondary-text-color);
}

.ndk-year-picker-item-container {
    padding: var(--p-2);
}

/*
    General
*/

* {
    color: var(--primary-text-color);
}

body {
    background-color: var(--primary-theme-bg-color);
}

.ndk-component *{
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}
.w-100p {
    width: 100%
}
.w-90p {
    width: 40%
}
.w-80p {
    width: 80%;
}
.w-70p {
    width: 40%
}
.w-60p {
    width: 40%
}
.w-50p {
    width: 40%
}
.w-40p {
    width: 40%
}
.w-30p {
    width: 30%
}
.w-20p {
    width: 20%
}

.w-10p {
    width: 10%
}

.d-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


