@import 'variables.css';

/*
    General
*/
body {
    background-color: var(--primary-theme-bg-color);
}

.ndk-component * {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    color: var(--primary-theme-color);
}

.w-100p {
    width: 100%
}

.w-90p {
    width: 90%
}

.w-80p {
    width: 80%;
}

.w-70p {
    width: 70%
}

.w-60p {
    width: 60%
}

.w-40p {
    width: 50%
}

.w-40p {
    width: 40%
}

.w-30p {
    width: 30%
}

.w-20p {
    width: 20%
}

.w-10p {
    width: 10%
}

.d-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hidden {
    display: none; /* Hide when not visible */
}

svg {
    fill: var(--primary-text-color);
}

.ndk-input-date-container {
    position: relative;
}

.ndk-calendar-popup {
    position: absolute;
}

.ndk-input-date-inputs {
    justify-content: left;
    align-items: center;
    border: 1px solid var(--primary-text-color);
    width: fit-content
}

ndk-input-date-inputs:focus {
    outline: solid;
}

.ndk-input-date-inputs .ndk-button {
    background-color: var(--primary-theme-bg-color);
    border: 0;
}


.ndk-input-date-inputs input {
    border: none;
    width: fit-content;
    margin: 0 8px 0 0;
}

    .ndk-input-date-inputs input:focus {
        outline: none;
    }

input {
    background-color: var(--primary-theme-bg-color);
    color: var(--primary-text-color);
}

    input::placeholder {
        color: var(--primary-text-color);
        opacity: 60%;
    }
