@import 'variables.css';

/*SELECT*/

.ndk-select-container {
    display: flex;
    flex-direction: column;
    min-width: var(--select-width);
    max-width: var(--select-max-width);
    max-height: var(--select-height);
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    cursor: text;
}

.ndk-select-container-controllers {
    justify-content: left;
    align-items: center;
}

.ndk-select-input{
    border: 1px solid rgba(255,255,255,0);
    border-radius: var(--border-radius);
}



.ndk-select-selected-item {
    display: flex;
    width: fit-content;
    background-color: var(--primary-bg-color);
    padding: 2px 5px;
    border-radius: calc(var(--border-radius) * 2);
    font-size: 12px;
    max-height: 25px;
    margin: 2px 3px;
    align-items: center;
}

.ndk-select-input-container{
    display:flex;
    flex-wrap:wrap;
    border-radius: var(--border-radius);
}



.ndk-select-selected-item-text {
    padding: 0 5px;
}



.ndk-select-input {
    min-width: var(--select-width);
}

.ndk-select-popup {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    padding: 5px;
    background-color: var(--primary-theme-bg-color);
    z-index: 150;
    border-radius: var(--border-radius);
    display:flex;
}

.ndk-select-popup-container{
    display: flex;
    flex-direction:column;
}

.ndk-select-popup-close{
    justify-content:flex-start;
    align-items:flex-end;
    cursor:pointer;
}



.ndk-select-popup-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 5px;
    border-radius: var(--border-radius);
}

    .ndk-select-popup-item:hover {
        background-color: var(--hover-primary-bg-color);
        cursor: pointer;
        color: var(--secondary-text-color);
    }

.ndk-select-popup-search {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 5px;
}


.ndk-select-remove-circle-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    width: fit-content;
    margin: 0 3px;
}

    .ndk-select-remove-circle-badge:hover {
        background-color: var(--secondary-bg-color);
        cursor:pointer;
    }

        .ndk-select-remove-circle-badge:hover svg {
            fill: var(--secondary-text-color);
        }
