:root {
    /*Theme*/
    --primary-theme-bg-color: #fff;
    --primary-theme-color: rgba(32,36,52);
    /*Background colors*/
    --primary-bg-color: #ada7fc;
    --secondary-bg-color: #ff6666;
    --disabled-bg-color: #c3c3c3;
    --hover-primary-bg-color: #6b6b6b;
    --hover-secondary-bg-color: #e2e1e1;
    --hover-primary-bg-border-color: #e2e1e1;
    --hover-secondary-bg-border-color: #e2e1e1;
    /*colors*/
    --primary-text-color: rgba(32,36,52);
    --secondary-text-color: #fff;
    --span-control: #9c0303;
    /*Border*/
    --border: 1px solid rgba(255,255,255,0);
    --border-radius: 8px;
    /*Box Shadow*/
    --box-shadow: var(--ndk-popup, 0 8px 10px rgba(0, 0, 0, 0.12), 0 4px 16px rgba(0, 0, 0, 0.12));
    /*CALENDAR*/
    --calendar-width: 250px;
    --calendar-height: 260px;
    /*SELECT*/
    --select-width: 350px;
    --select-height: 350px;
    /*WINDOW*/
    --window-background: rgba(0,0,0,0.5);
}
/*-------------------- DARK MODE ------------*/

.dark-mode {
    /*Theme*/
    --primary-theme-bg-color: #1e1e1e;
    --primary-theme-color: #fff;
    /*Background colors*/
    --hover-primary-bg-color: #cccccc;
    --hover-bg-border-color: #000000;
    /*colors*/
    --primary-text-color: #fff;
    --secondary-text-color: #121212;
    --span-control: #ff6666;
}


.square-borders {
    --border-radius: 0;
}

