@import 'lib.scss';

.ndk-calendar {
    .ndk-calendar-container {
        width: fit-content;
        padding: 5px;
        box-shadow: $box-shadow;
        border: $border;
        border-radius: $border-radius;
        font-size: 14px;
    }

    .ndk-calendar-ui {
        border-radius: 8px;
        max-width: 100px !important;
        width: 100px !important;
    }

    .ndk-dt-header-ui {
        padding: 2px;
        border-radius: $border-radius;
    }

    .ndk-dt-row-ui {
        background-color: none;
    }

    .ndk-dt-row-pair-ui {
    }

    .ndk-dt-header-s-ui {
        border-top-left-radius: $border-radius;
    }

    .ndk-dt-header-e-ui {
        border-top-right-radius: $border-radius;
    }

    .ndk-dt-container-ui {
        padding: 2px;
    }

    .ndk-dt-item-ui {
        display: flex;
        border: none;
        padding: 10px;
        border: $border;
        border-radius: $border-radius;
        color: $primary-text-color;
        min-width: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        transition: color 0.3s;

        &:hover {
            cursor: pointer;
            background-color: $hover-bg-color;
            border-color: $hover-bg-border-color
        }
    }

    .ndk-dt-item-ui-disabled {
        cursor: not-allowed;

        &:hover {
            cursor: not-allowed;
            background-color: $primary-theme-bg-color;
        }
    }


    .ndk-calendar-controlers {
        display: flex;
        justify-content: space-between;
    }

    .ndk-dt-item-selected-ui {
        background-color: $primary-bg-color;
        color: $secondary-text-color;
    }

    .ndk-dt-header-m-ui {
        padding: 2px;
    }

    .ndk-calendar-tool {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
