@import 'lib.scss';
.ndk-yearpicker {
    .ndk-year-picker-container {
        width: fit-content;
        padding: 5px;
        box-shadow: $box-shadow;
        border: $border;
        border-radius: $border-radius;
        font-size: 14px;
    }

    .ndk-year-picker {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }

    .ndk-year-picker-header {
        padding: 10px 0;
    }

    .ndk-year-picker-line {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ndk-year-picker-item {
        display: flex;
        padding: 10px;
        border: $border;
        border-radius: $border-radius;
        min-width: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        color: $primary-text-color;
        transition: background-color 0.3s;
        transition: color 0.3s;
    }

    .ndk-year-picker-item:hover {
        cursor: pointer;
        background-color: $hover-bg-color;
        border-color: $hover-bg-border-color;
    }

    .ndk-year-picker-item-disabled {
        cursor: not-allowed
    }

    .ndk-year-picker-item-disabled:hover {
        cursor: not-allowed;
        background-color: $primary-bg-color;
        border: $border;
    }

    .ndk-year-picker-item-selected-ui {
        background-color: #ada7fc !important;
        color: #fff;
    }

    .ndk-year-picker-item-container {
        padding: 2px;
    }
}
